<div class="img">

<button type="button" (click)="logout()" class="btn btn-primary btn-lg">Log Out</button>

<div class="row">
<div class="container-fluid">
    <form  [formGroup]="registrationform"  (ngSubmit)="onsubmit()">
  
  
    
    <div class="column" style="padding-left: 50px;">
      <div class="form-group">
        <label>pnr</label>
        <input formControlName="pnr" type="text" class="form-control">
      </div>
  <div class="form-group">
    <label>username</label>
    <input formControlName="username" type="text" class="form-control">
  </div>
  <div formArrayName="passengers">
    <div *ngFor="let c of passengers.controls; let i=index">
  <div [formGroupName]="i">
    <label>name</label>
    <input formControlName="name" type="text" class="form-control">
  
  
    <label>age</label>
    <input formControlName="age" type="text" class="form-control">
  
    <label>gender</label>
    <input formControlName="gender" type="text" class="form-control">
    
    <label>city</label>
    <input formControlName="city" type="text" class="form-control">
    <label>seatNo</label>
    <input formControlName="seatNo" type="text" class="form-control">
    <button type="button" (click)="addpassenger()">Add</button>
  
  </div>
</div>
  </div>
  <button class="btn btn-primary"  type="submit">add</button>
</div>
  <div class="column">
  <div class="form-group">
    <label>trainname</label>
    <input formControlName="trainname" type="text" class="form-control">
  </div>
  
  <div class="form-group">
    <label>source</label>
    <input formControlName="source" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>destination</label>
    <input formControlName="destination" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>date</label>
    <input formControlName="date" type="date" class="form-control">
  </div>
  
  <div class="form-group">
    <label>reservationtype</label>
    <input formControlName="reservationtype" type="text" class="form-control">
  </div>

 

  

</div>

  </form>
  </div>
 

</div>

</div>