form input[type='button']{
  margin-top: 1rem;
  padding-left: 1rem;
  text-transform: uppercase;

  
    }
    form input:hover,
    form input:active{
      background: rgba(255,255,255,0.3);
      box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.4);
      outline: none;
    }
    input{
      flex: 1;
      background: transparent;
      padding: 1rem;
      padding-left: 35px;
      margin-bottom: 2rem;
      border: none;
      border-radius: 200px;
      border-left: 1px solid rgba(122, 6, 6, 0.5);
      border-top: 1px solid rgba(100, 9, 9, 0.5);
      box-shadow: 20px 20px 40px -6px rgba(224, 213, 213, 0.4);
      backdrop-filter: blur(15px);
      width: 200px;
      color:rgb(7, 7, 75);
    

    }
    .container .title{
      font-size: 25px;
      font-weight: 500;
      position:relative;
    }
    .container .title::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 30px;
      background: linear-gradient(135deg,#71b7e6,#9b9b9b);

    }
    
    .abcc{
      position: relative;
    background-color:white;
    border: none;
    font-size: 28px;
    color: green;
    padding: 5px;
    width: 300px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    margin: 30px;
    }
    .abcc:after {
      content: "";
      background: #90EE90;
      display: block;
      position: absolute;
      padding-top: 200%;
      padding-left: 350%;
     
  
      opacity: 0;
      transition: all 0.8s
    }
    
    .abcc:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
    }
  .column {
    float: left;
    width: 33.3%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  
  .vertical {
    border-left: 5px solid black;
    height: 200px;
}
 .abc{
   display:flex;
   justify-content: left;
   margin-top:5px;
   margin-left:5px;
   margin-right:5px;
   margin-bottom:5px;
   background-color: rgb(99, 214, 70);
 }
  
body{

  /* Full height */
  height: 1500px;
display: flex;
justify-content: left;
padding: 10px;
background: linear-gradient(135deg,#71b7e6,#9b9b9b);
 
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: white;
  padding:25px 30px;
  border-radius:5px
}
.container form .user-details{
  display: flex;
  flex-wrap: wrap;
}
.abc{
  justify-content: left;
  display: flex;
}

