<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    
      
  <!-- Links -->
  <ul class="navbar-nav">
   
    <li class="nav-item">
        <a class="nav-link"  routerLink='/userMenu/viewtrains' routerLinkActive="active">Cancel Ticket</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"   routerLink='/userMenu/cancelticket' routerLinkActive="active">Previous Booking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"   routerLink='/userMenu/cancelticket' routerLinkActive="active">PNR Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"   routerLink='/userMenu' routerLinkActive="active">User Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"   routerLink='/' routerLinkActive="active">Logout</a>
      </li>
     </ul>
</nav>

<body>



<div class="container">
  <div class="title">Booking Form</div>
    <form  [formGroup]="registrationform"  (ngSubmit)="onsubmit()">
  
  
  
    
 
  <div class="user-details">
    <div class="form-group">
  <label>trainname</label>
  <input formControlName="trainname" type="text" class="form-control">
</div>
  <div class="form-group">
    <label>reservationtype</label>
    <input formControlName="reservationtype" type="text" class="form-control">
  </div>
  


  <div class="form-group">
    <label>source</label>
    <input formControlName="source" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>destination</label>
    <input formControlName="destination" type="text" class="form-control">
    
</div>
  
 
 
    <div class="form-group">
      <label>date</label>
      <input formControlName="date" type="date" class="form-control">
    </div>
 
  
 
  <div class="form-group">
    <label>Fare</label>
    <input formControlName="fare" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label>username</label>
    <input formControlName="username" type="text" class="form-control">
   
  </div>

  <br>

  <div class="container">
    <div formArrayName="passengers">
      <div *ngFor="let c of passengers.controls; let i=index">
    <div [formGroupName]="i">
      <div class="user-details">
    
      <input formControlName="name" type="text" class="form-control" placeholder="name">
    
    
      
      <input formControlName="age" type="text" class="form-control" placeholder="age">
    
      <input formControlName="gender" type="text" class="form-control" placeholder="gender">
      
      <input formControlName="city" type="text" class="form-control" placeholder="city">
      <label>seatNo</label>
      <input formControlName="seatNo" type="text" class="form-control" placeholder="seatNo">
    </div>
      <button type="button" (click)="addpassenger()">Add</button>
   
    </div>
  </div>
    </div>
  </div>
 
  



</div>
<button class="btn btn-primary" type="submit">Next</button>


<a class="nav-link"   routerLink="/payment" routerLinkActive="active">pay</a>

<div>
<button (click)="apply()">coupons</button>
</div>
  </form>
</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div *ngIf="show">

 
    
<div class="abc">
 
  <h2><b>20% OFF YOUR PURCHASE</b></h2> 
  <p>{{coupons.beta}}</p>
  <button (click)="addcoupon(coupons.beta)">Apply</button>
 
</div>

<br><br><br><br><br><br><br><br><br>
<div class="abc">
  <h2><b>20% OFF YOUR PURCHASE</b></h2> 
  <p>{{coupons.delta}}</p>
  <button (click)="addcoupon(coupons.delta)">Apply</button>
</div>
<br><br><br><br><br><br><br><br>

 <div class="abc">
    <h2><b>20% OFF YOUR PURCHASE</b></h2> 
    <p>{{coupons.delta}}</p>
    <button (click)="addcoupon(coupons.delta)">Apply</button>
    
  </div>
  <br><br><br><br><br><br><br><br><br><br>

    <div class="abc">
      <h2><b>20% OFF YOUR PURCHASE</b></h2> 
      <p>{{coupons.delta}}</p>
      <button (click)="addcoupon(coupons.delta)">Apply</button>
    </div>
    
    </div>



</body>