<p>user-book-ticket works!</p>


<div>
    <input #trainSource1 type="text" name="trainSource" placeholder="Please Enter Source">
    <input #trainDestination1 type="text" name="trainDestination" placeholder="please Enter Destination">
    <input #trainDate type="date" data-date-format="YYYY MM DD" name="date" placeholder="date">
    
    <button (click)=" getTrainFromSourceToDestinationWithDate(trainSource1.value,trainDestination1.value,trainDate.value)">Search Train By Train no</button>
    </div>

<table >
    <thead>
      <tr>
     
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of  train">
        <td>{{a.trainNo}}</td>
       <td>{{a.trainName}}</td>
       <td>{{a.source}}</td> 
       <td>{{ a.destination}}</td>
       <td>{{ a.date}}</td>
   <td>{{a.arrivalTime}}</td>
   <td>{{a.departureTime}}</td>
   <td>
    <tr *ngFor="let b of  a.reservationVacancy">
      <td>{{b.type}}</td>
     <td>{{b.fare}}</td>
     <td>{{b.reservations}}</td> 
    </tr>
   </td>
   <td>
    <tr *ngFor="let c of  a.stops">
      <td>{{c.stationName}}</td>
 
    </tr>
   </td>
      <button (click)="book(a.trainName,a.source,a.destination,a.date)">book</button>
      </tr>
    </tbody>
  </table>
  