

<div style="padding-left: 120px;background-color: rgb(6, 6, 53);padding-bottom: 30px;padding-top: 30px;">
<div class="box">
    <div class="row">
        <h1>Book Ticket</h1>
        <div class="column">
            <label>From</label>
   <div> <input #trainSource1 type="text" name="trainSource" placeholder="Please Enter Source"></div>
   <p style="padding-left: 120px;font-size: 30px;">&#x2193;</p>
   <label>To</label>
    <div>    <input #trainDestination1 type="text" name="trainDestination" placeholder="please Enter Destination"></div>
</div>
<div class="column">
    <label>date</label>
    <div>  <input #trainDate type="date" data-date-format="YYYY MM DD" name="date" placeholder="date"></div>
    <label>Class</label>
    <div>  <input #trainDate type="search" name="date" placeholder="Class"></div>
    
</div>
  
</div>
<div style="padding-left: 400px;">
<button  class="btn btn-success btn-lg" click= "getTrainFromSourceToDestinationWithDate(trainSource1.value,trainDestination1.value,trainDate.value)">Search Train By Train no</button>
</div>
</div>
    
</div>



<button type="button" (click)="bookTicket()" class="btn btn-primary btn-lg">Book Ticket</button>
<button type="button"  (click)="deleteTicket()" class="btn btn-primary btn-lg">Cancel Ticket</button>
<button type="button"  (click)="viewTrainTicket()" class="btn btn-primary btn-lg">View Trains</button>


<button type="button" (click)="logout()" class="btn btn-primary btn-lg">Log Out</button>



