
  .box {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 1200px;
    height: 450px;  
margin-bottom: 5px;
background-color: white;
  }
  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid green;
  }
  input[type=date] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid green;
  }
  input[type=search] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid green;
  }
    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
        }
      }
    