
    table {
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        text-align: left;
        padding: 8px;
      }
      tr:nth-child(even) {background-color: #f2f2f2;}
      .abc{

word-spacing: 3px;
      }
      input{
        flex: 1;
        background: transparent;
        padding: 1rem;
        padding-left: 35px;
        margin-bottom: 2rem;
        border: none;
        border-radius: 200px;
        border-left: 1px solid rgba(122, 6, 6, 0.5);
        border-top: 1px solid rgba(100, 9, 9, 0.5);
        box-shadow: 20px 20px 40px -6px rgba(224, 213, 213, 0.4);
        backdrop-filter: blur(15px);
        width: 200px;
        color:rgb(7, 7, 75);
      
  
      }