
    <nav style="height: 100px;" class="navbar navbar-expand-lg bg-dark navbar-dark">
    
      
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">HOME</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/searchtrainbytrainno" routerLinkActive="active">TRAINS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/news">NEWS</a>
          </li>
        <li class="nav-item">
            <a class="nav-link"  routerLink="/login" routerLinkActive="active">ADMIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"   routerLink="/userlogin" routerLinkActive="active">USER</a>
          </li>
         
      </ul>
    </nav>
    



<body>



  
    <div style="display: flex;justify-content: center;">
  <h1 style="font-size: 60px;color:rgb(252, 143, 0);">welcome</h1></div>
  
  <div style="display: flex;justify-content: center;">
  <h2 style="font-size: 60px;color:rgb(252, 143, 0);">Train is Waiting For You</h2>
</div>


<br><br><br><br><br>
  <div class="a1">
        <h3>Train Ticket Booking & Live Status</h3>
  <p>Train Ticket Booking</p>
  <p>PNR Status
  </p>
  <p>Seat Availability</p>
  <p>Cancel Booking</p>
</div>

 <br><br><br><br><br>
 
 <div class="a1">
    <h3>User Friendly</h3>
<p>TCheck Station Time Table</p>
<p>Train Routes
</p>
<p>Easy to Book and Cancel Ticket</p>
</div>

<br><br><br><br>

<div class="a1">
  <h3>3 Easy Steps</h3>
<p>plan a date of journey</p>
<p>Book a Ticket 
</p>
<p>Check Your Seats</p>

</div>

    </body>
    <footer>&copy; Copyright 2021 All Rights Reserved</footer>
  