
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    
      
    <!-- Links -->
    <ul class="navbar-nav">
     
      <li class="nav-item">
          <a class="nav-link"  routerLink='/userMenu/viewtrains' routerLinkActive="active">Cancel Ticket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   routerLink='/userMenu/cancelticket' routerLinkActive="active">Previous Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   routerLink='/userMenu/cancelticket' routerLinkActive="active">PNR Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   routerLink='/userMenu' routerLinkActive="active">User Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   routerLink='/' routerLinkActive="active">Logout</a>
        </li>
       </ul>
  </nav>
  
<div id="mybutton"></div>