
<div class="row">
  
  <div class="column" style="padding-top: 150px;padding-left: 50px;">

    <h1>Login</h1>
  <div class="form-group">
      <label>userName</label>
      <input type="text"  #name  name="username" class="form-control" >
  
    </div>
    
    <div class="form-group">
        <label>password</label>
        <input type="text" #password name="password" class="form-control"    >
    
    </div>
    
    
    <button (click)="login(name.value,password.value)" class="btn btn-light">Login</button>
  </div>

  <div class="vl"></div>
  
   <div class="column">
     <div class="img">
    <h1>SignUp</h1>
      <form  #userform="ngForm"    >
    <div class="form-group">
      <label>userName</label>
      <input type="text"  name="username" class="form-control">
    
     
    </div>
    
    <div class="form-group">
        <label>password</label>
        <input type="text"name="password" class="form-control"    >
    </div>
    <div class="form-group">
      <label>conform password</label>
      <input type="text"name="password" class="form-control"    >
  </div>
  <div class="form-group">
    <label>phone number</label>
    <input type="text"name="password" class="form-control"    >
</div>
   
    
    
  <button class="btn btn-primary"  type="submit">submit</button>
  <br><br><br><br>
  <button class="btn btn-primary"  type="submit">Cancel</button>
  </form>
</div>
  </div>
    </div>