
<div class="abc">
<button class="button" (click)="ByTrainNo()">Train no</button>
<button class="button" (click)="ByTrainNo()">Train Name</button>
<button class="button" (click)="ByTrainNo()">Station Time Table</button>
<button  class="button"(click)="sourceToDestination()">Train with date</button>
<button  class="button"(click)="sourceToDestination()">PNR Status</button>
<button  class="button"(click)="sourceToDestination()">Reservation vacancy</button>
<button  class="button"(click)="sourceToDestination()">Source To Destination</button>
<button class="button" (click)="sourceToDestinationWithDate()">Source/Destination With Date</button>
</div>

<br/><br/><br/>



<div *ngIf="show1">
  <div class="box1">
<input #trainNo type="text" name="trainNo" placeholder="trainNo">
<div>
<button (click)=" getTrain(trainNo.value)">Search Train By Train no</button>
</div>
</div>
</div>
<div *ngIf="show2">
  <div class="box1">
<input #trainSource type="text" name="trainSource" placeholder="Please Enter Source">
<input #trainDestination type="text" name="trainDestination" placeholder="please Enter Destination">
<br><br>
<div>
<button (click)=" getTrainFromSourceToDestination(trainSource.value,trainDestination.value)">Search Train By Train no</button>
</div>


</div>
</div>


<div *ngIf="show3">
  <div class="box1">
<input #trainSource1 type="text" name="trainSource" placeholder="Please Enter Source">
<input #trainDestination1 type="text" name="trainDestination" placeholder="please Enter Destination">
<div>
<input #trainDate type="date" data-date-format="YYYY MM DD" name="date" placeholder="date">
</div>
<br><br><br>
<div>
<button (click)=" getTrainFromSourceToDestinationWithDate(trainSource1.value,trainDestination1.value,trainDate.value)">Search Train By Train no</button>
</div>
</div>


</div>
<br><br><br>
   <div style="background-color: lightgray;">
<div *ngFor="let a of  train">
<div class="center">
  <div class="box">
    <div style="font-size:40px;"><b>{{a.trainNo}}</b></div>
    <div style="font-size:40px;"><b>{{a.trainName}}</b></div>
    <div style="font-size:xx-large;margin-left:80%;">{{ a.date}}</div>
   
       <div style="display: flex;justify-content: center;"><p style="font-size: 30px;word-spacing: 200px;">{{a.source}} &#8594; {{a.destination}}</p>
  </div>
     <div style="padding-left: 220px;font-size: 25px;">{{a.arrivalTime}}</div>
      <div style="padding-left: 220px ; font-size: 25px;">{{a.departureTime}}</div>
     


  <div class="float">
    <div *ngFor="let b of  a.reservationVacancy">
    <div class="b">
      <div>{{b.type}}</div>
      <hr>
     <div>
      <p> &#x20B9;{{b.fare}}</p></div>
     <div>
      <hr>
    <p style="color: green;" >Avaiable  {{b.reservations}} </p>
      </div> 
    </div>
  </div>
    </div>
   <button (click)="route()">Route</button>
<div *ngIf="show5">
    <div *ngFor="let c of  a.stops">
      <div>{{c.stationName}}</div>
    </div>
    </div>
    </div>
  </div>
</div>
  </div>

