<p>delete-train works!</p>


<div >
    <input #trainNo type="text" name="trainNo" placeholder="trainNo">
    
    <button (click)=" getTrain(trainNo.value)">Search Train By Train no</button>
    </div>

<table >
    <thead>
      <tr>
     
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of  train">
        <td>{{a.trainNo}}</td>
       <td>{{a.trainName}}</td>
       <td>{{a.source}}</td> 
       <td>{{ a.destination}}</td>
       <td>{{ a.date}}</td>
   <td>{{a.arrivalTime}}</td>
   <td>{{a.departureTime}}</td>
   <td>
    <tr *ngFor="let b of  a.reservationVacancy">
      <td>{{b.type}}</td>
     <td>{{b.fare}}</td>
     <td>{{b.reservations}}</td> 
   </td>
      <button (click)="deleteEmployee(a.trainName,a.date)">Delete</button>
      </tr>
    </tbody>
  </table>
  
  
   
  <button (click)="logout()" class="btn btn-light">Logout</button>
