h1{
  display: flex;

  color:magenta;
  justify-content: center;
   
}
h2{
  display: flex;
    color:darkorchid;
    justify-content: center;
}
button{
    color:orangered
}
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }

  .navbar a {
    float: left;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  .navbar a:active{
    background-color: #4CAF50;
    color: green;
  }
  .navbar a:visited{
    background-color: blue;
  }
 