<div style="background-color: lightgray;">
  <div *ngFor="let a of  news">
  <div class="center">
    <div class="box">
      <div style="font-size:40px;"><b>{{a.activeCases}}</b></div><br>
      <div style="font-size:40px;"><b>{{a.activeCasesNew}}</b></div>
      <div style="font-size:xx-large;margin-left:80%;">{{ a.recovered}}</div>
     
       <div style="padding-left: 220px;font-size: 25px;">{{a.recoveredNew}}</div>
        <div style="padding-left: 220px ; font-size: 25px;">{{a.deaths}}</div>
        <div style="padding-left: 220px;font-size: 25px;">{{a.deathsNew}}</div>
        <div style="padding-left: 220px ; font-size: 25px;">{{a.previousDayTests}}</div>
        <div style="padding-left: 220px ; font-size: 25px;">{{a.totalCases}}</div>
       
  
 
      </div></div></div></div>
  