

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    
      
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">HOME</a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link" routerLink="/searchtrainbytrainno" routerLinkActive="active">TRAINS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">NEWS</a>
      </li>
    <li class="nav-item">
        <a class="nav-link"  routerLink="/login" routerLinkActive="active">ADMIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"   routerLink="/userlogin" routerLinkActive="active">USER</a>
      </li>
  </ul>
</nav>


<div class="abc">
<button class="button" (click)="ByTrainNo()">Train no</button>
<button class="button" (click)="ByTrainName()">Train Name</button>
<button class="button" (click)="stationtimetable()">Station Time Table</button>
<button  class="button"(click)="trainnamewithdate()">Train with date</button>
<button  class="button"(click)="sourceToDestinationtrain()">PNR Status</button>
<button  class="button"(click)="sourceToDestinationtrain()">Reservation vacancy</button>
<button  class="button"(click)="sourceToDestinationtrain()">Source To Destination</button>
<button class="button" (click)="sourceToDestinationWithDate()">Source/Destination With Date</button>
</div>



<body>
<br><br><br>
<div *ngIf="show1" style="padding-left: 500px;">
<p style="font-size: xx-large;">Train Number</p>
<input #trainNo type="text" name="trainNo" placeholder="trainNo">
<div>
<button class="btn btn-dark" (click)=" getTrain(trainNo.value)">Search </button>

</div>

</div>
<div *ngIf="show4" style="padding-left: 500px;">
  <p style="font-size: xx-large;">Enter Route </p>
<input #trainSource type="text" name="trainSource" placeholder="Please Enter Source">
<input #trainDestination type="text" name="trainDestination" placeholder="please Enter Destination">
<br><br>
<div>
<button class="btn btn-dark" (click)=" getTrainFromSourceToDestination(trainSource.value,trainDestination.value)">Search Train </button>
</div>



</div>


<div *ngIf="show3" style="padding-left: 500px;">
  <p style="font-size: xx-large;">Route With Date</p>
<input #trainSource1 type="text" name="trainSource" placeholder="Please Enter Source">
<input #trainDestination1 type="text" name="trainDestination" placeholder="please Enter Destination">
<div>
<input #trainDate type="date" [min]="minDate | date:'yyyy-MM-dd'" name="date" placeholder="date">
</div>
<br><br><br>
<div>
<button class="btn btn-dark" (click)=" getTrainFromSourceToDestinationWithDate(trainSource1.value,trainDestination1.value,trainDate.value)">Search Train</button>
</div>



</div>


<div *ngIf="show2" style="padding-left: 500px;">
  <p style="font-size: xx-large;">Train Name</p>
<input #trainName type="text" name="trainName" placeholder="trainName">
<div>
<button class="btn btn-dark" (click)=" gettrainName(trainName.value)">Search </button>

</div>
</div>

<div *ngIf="show7" style="padding-left: 500px;">
  <p style="font-size: xx-large;">plese Enter details</p>
<input #stationName type="text" name="stationName" placeholder="stationName">
<div>
  <input #stationNamedate type="date" [min]="minDate | date:'yyyy-MM-dd'" name="date" placeholder="date">
</div>
<div>
<button  class="btn btn-dark"  (click)=" getTrainstationtt(stationName.value,stationNamedate.value)">Search</button>

</div>
</div>

<div *ngIf="show6" style="padding-left: 500px;">
  <p style="font-size: xx-large;">plese Enter details</p>
<input #trainName type="text" name="trainName" placeholder="trainName">
<div>
  
  <input #date type="date" [min]="minDate | date:'yyyy-MM-dd'" name="date" placeholder="date">
</div>
<div>
<button class="btn btn-dark" (click)=" getTrainnamewithdate(trainName.value,date.value)">Search </button>
</div>

</div>




<br><br><br>
   <div style="  background: linear-gradient(135deg,#71b7e6,#9b9b9b);">
<div *ngFor="let a of  train">
<div class="center">
  <div class="box">
    <div style="font: size 25px;;margin-left:80%;">{{ a.date}}</div>
    <div style="font-size:25px;"><b>{{a.trainNo}}</b></div>
    <div style="font-size:25px;"><b>{{a.trainName}}</b></div>
  
    <div style="padding-left: 450px;font-size: 25px;">{{a.duration}}h</div> 
       <div style="display: flex;justify-content: center;"><p style="font-size: 30px;word-spacing: 200px;">{{a.source}} &#8594; {{a.destination}}</p>
  </div>
     <div style="padding-left: 220px;font-size: 25px;word-spacing: 350px">{{a.arrivalTime}} {{a.destinationTime}}</div>
      <div style="padding-left: 220px ; font-size: 25px;">{{a.departureTime}}</div>




  <div class="float">
    <div *ngFor="let b of  a.reservationVacancy">
    <div class="b">
      <p>{{b.type}}</p>
      <hr>
     
      <p> &#x20B9;{{b.fare}}</p>
    
      <hr>
    <p style="color: green;" >Avaiable  {{b.reservations}} </p>
     
    </div>
  </div>
    </div>
   <button (click)="route()">Route</button>
<div *ngIf="show5">
    <div *ngFor="let c of  a.stops">
      <div>{{c.stationName}}</div>
    </div>
    </div>
    </div>
  </div>
</div>
  </div>
