
  .box {
    border-radius: 35px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 1200px;
    height: 530px;  
margin-bottom: 5px;
background-color: white;
  }
  input{
    flex: 1;
    background: transparent;
    padding: 1rem;
    padding-left: 35px;
    margin-bottom: 2rem;
    border: none;
    border-radius: 200px;
    border-left: 1px solid rgba(39, 4, 80, 0.5);
    border-top: 1px solid rgba(41, 9, 100, 0.5);
    box-shadow: 20px 20px 40px -6px rgba(5, 7, 105, 0.4);
    backdrop-filter: blur(15px);
    width: 300px;
    color:rgb(7, 7, 75);
  

  }
    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
        }
      }
      
      .boxx {
        background-color:blue;
        width: 300px;
    
        padding: 5px;
        margin: 5px;
      }
      .center {
        margin: auto;
        width: 70%;
        
        
        padding: 10px;
      }
      .float{
        display: flex;
        justify-content: left;
      }
    
      .abc{
        background-color:rgb(7, 7, 80);
      }
    
      .search{
        display: flex;
        justify-content: center;
      }
   
      
      
  